h1 {
  font-size: 56px;
}

a {
  color: grey;
}

.work-card {
  padding: 0;
  margin: 15px;
  width: 500px;
}

.work-card-header {
  height: 150px;
  background-color: #dcdcdc;
  margin: auto;
}

.grey-btn {
  color: white;
  background-color: grey;
  border-color: white;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.backgroung-img {
  background-image: url(../imgs/coding.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.85;
}

.headings-cover {
  padding-top: 100px;
  padding-bottom: 500px;
}

.white-box {
  background-color: white;
  padding: 1em 1em;
  margin-bottom: 2em;
}

.black-box {
  background-color: black;
  color: white;
  font-weight: lighter;
  font-size: smaller;
}

.central-content {
  text-align: center;
}

.terminal-gif {
  width: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.home-social-media-links {
  display: inline;
  margin-left: 5px;
}

.gandalf-link {
  text-decoration: underline;
}

.social-media-icons-big {
  font-size: 25px
}
