h1 {
    font-size: 4.5rem;
}

a {
  color: grey;
}

.work-card {
  padding: 0px;
  margin: 15px;
}

.work-card-img {
  max-width: 100%;
}

.work-card-header {
  height: 150px;
  background-color: #dcdcdc;
  margin: auto;
}

.grey-btn {
  color: white;
  background-color: grey;
  border-color: white;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.backgroung-img {
  background-image: url('../imgs/coding.png');
  background-size: 100%;
  opacity: 0.85;
}

.heading-cover {
  margin-top: 100px;
  margin-bottom: 500px;
  background-color: white;
  padding: 15px 15px 15px 30px;
}
