.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.backgroung-img {
  background-image: url('../imgs/coding.png');
  background-size: 100%;
  opacity: 0.85;
}

.heading-cover {
  margin-top: 100px;
  margin-bottom: 500px;
  background-color: white;
  padding: 15px 15px 15px 30px;
}
